<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meifute.core.mapper.MallPushItemRuleMapper">

    <!-- 开启二级缓存 -->


    <select id="getItemRulesByTime" resultType="com.meifute.core.model.pushItemrule.MallPushItemRule">
        select id from mall_push_item_rule
        where
        sku_code = #{skuCode}
        and is_del = '0'
        and not (valid_start_date &gt; #{validEndDate} or valid_end_date &lt; #{validStartDate})
    </select>

    <select id="getCheckItemRulesById" resultType="com.meifute.core.model.pushItemrule.MallPushItemRule">
        select id from mall_push_item_rule
        where
        sku_code = #{skuCode}
        and is_del = '0'
        and not (valid_start_date &gt; #{validEndDate} or valid_end_date &lt; #{validStartDate})
        and id &lt;&gt; #{id}
    </select>

</mapper>
